@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Special+Elite&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  position: absolute;
  width: 80%;
  height: 80%; 
  left: 10%;
  font-family: 'PT Serif', serif;
}
/*------------------------------
            header part 
--------------------------------*/

header {
  display: flex;
  margin-top: 85px;
}
.page-header{
  flex-grow: 1;
  order: 1;
  font-size: 24px;
}
.menu-container{
  display: flex;
  align-items: center;
  order: 2;
}
.menu{
  margin-left: 35px;
}
.menu:hover{
  border: 1px solid blueviolet;
  background-color: lightgrey;
  border-radius: 10px;
  transform: scale(1.5);
  transition: transform 1s ease-in;
}

/*---------------
   first section
----------------*/
.first-sec{
  display: flex;
  padding-top: 145px;
}
#header-main{
  font-size: 52px;
  margin-bottom: 16px;
}
.header-para{
  margin: 0;
}
.influencer-intro{
  margin-right: 200px;
}
.btn-primary{
  margin-top: 20px;
  width: 196px;
  height: 44px; 
  border-radius: 40px;
  color: white;
  font-size: 16px;
  background-color: rgb(189, 102, 230);
}
.fa-arrow-right{
  margin-left: 10px;
  color: white;
}
.main-cam{
  width: 40%;
  margin-top: -70px;
}

/*------------------------
         companies 
-------------------------*/
.companies{
  display: flex;
  margin-top: 140px;
  justify-content: center;
}
.company{
  width: 84px;
  height: 26px;
  margin-right: 60px;
}
.upper{
  border: 1px solid lightgray;
  position: relative;
  top: 110px;
  background-color: lightgray;
}
.lower{
  border: 1px solid lightgray;
  position: relative;
  top: 25px;
  background-color:lightgray;
  margin-bottom: 100px;
}
/*----------------------------
      Popular Collection
-----------------------------*/
.popular-tag{
  display: flex;
  justify-content: center;
  font-size: 28px;
  margin-bottom: 30px;
}
.pop-collection{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  margin-left: 30px;

}
.collection{
  border-radius: 5px;
  box-shadow: 2px 2px 45px lightgray, -2px -2px 45px lightgray;
}
.collection img{
  width: 300px;
  height: 256px;
  margin: 30px;
}
.collection h3,h5,p{
  margin-left: 30px;
  margin-bottom: 15px;
}
.collection h3{
  font-size: 28px;
}
.collection h5{
  font-size: 24px;
}
.collection p{
  font-size: 14px;
  color: gray;
}
.fa-star{
  color: orange;
}
.fa-star-half-alt{
  color: orange;
  margin-right: 8px;
}
#see-more{
  text-decoration: none;
  display:flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 30px;
  color: rgb(189, 102, 230);
}
.ar{
  color: rgb(189, 102, 230);
}

/*-------------------- 
      Final Section
----------------------*/
.final-section{
  margin-top: 100px;
  display: grid;
  grid-template-columns:repeat(4, 1fr);
}
.contact h3{
  font-size: 24px;
  margin-bottom: 10px;
}
.contact>ul>li{
  list-style-type: none;
  color: gray;
}
.send{
  margin-top: 10px;
  width: 80px;
  height: 30px; 
  border-radius: 15px;
  color: white;
  font-size: 14px;
  background-color: rgb(189, 102, 230);
}
/*---------------------
        footer
---------------------*/
footer{
  background-color: #0A0826;
  margin-top: 80px;
  width: 100%;
  height: 200px;
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer h2{
  font-size: 26px;
}
.footer-p{
  margin: 0;
  margin-bottom: 5px;
}
.fa-github-square{
  padding-right: 10px;
}
.fa-facebook{
  padding-right: 10px;
}
.fa-instagram{
  padding-right: 10px;
}
