@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Special+Elite&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'PT Serif', serif;
}
/*------------------------------
            header part 
--------------------------------*/
.bar{
  display: none;
}
header {
  display: flex;
  margin-top: 85px;
  justify-content: space-around;
}
.page-header{
  flex-grow: 1;
  order: 1;
  font-size: 24px;
}
.menu-container{
  display: flex;
  align-items: center;
  order: 2;
}
.menu{
  margin-left: 35px;
}
.menu a{
  text-decoration: none;
}
.menu:hover{
  border: 1px solid blueviolet;
  background-color: lightgrey;
  border-radius: 10px;
  transform: scale(1.5);
  transition: transform 1s ease-in;
}

/*---------------
   first section
----------------*/
.first-sec {
  display: grid;
  grid-template-columns: 30% 30%;
  padding-top: 145px;
  justify-items: center;
  align-items: center;
  justify-content: space-evenly;
}
#header-main{
  font-size: 52px;
  margin-bottom: 16px;
}
.header-para{
  margin: 0;
}
.influencer-intro{
  margin-right: 200px;
}
.btn-primary{
  margin-top: 20px;
  width: 196px;
  height: 44px; 
  border-radius: 40px;
  color: white;
  font-size: 16px;
  background-color: rgb(189, 102, 230);
}
.fa-arrow-right{
  margin-left: 10px;
  color: white;
}
.main-cam{
  width: 40%;
  margin-top: -70px;
}


.influencer{
  font-size: 52px;
  white-space: nowrap;
  position: relative;
  color: transparent;
}
.influencer::before{
  content: 'Influencer';
  position: absolute;
  color: rgb(8, 248, 0);
  animation: typing 3s ease-in-out infinite;
}
@keyframes typing {
  0%{
    content: 'I|';
  }
  10%{
    content: "In|";
  }
  19%{
    content: "Inf|";
  }
  29%{
    content: "Infl|";
  }
  38%{
    content: "Influ|";
  }
  48%{
    content: "Influe|";
  }
  59%{
    content: "Influen|";
  }
  69%{
    content: "Influenc|";
  }
  85%{
    content: "Influence|";
  }
  100%{
    content: "Influencer|";
  } 
}

/*------------------------
         companies 
-------------------------*/
.companies{
  display: flex;
  margin-top: 140px;
  justify-content: center;
}
.company{
  width: 84px;
  height: 26px;
  margin-right: 60px;
}
.upper{
  border: 1px solid lightgray;
  position: relative;
  top: 110px;
  background-color: lightgray;
}
.lower{
  border: 1px solid lightgray;
  position: relative;
  top: 25px;
  background-color:lightgray;
  margin-bottom: 100px;
}
/*----------------------------
      Popular Collection
-----------------------------*/
.popular-tag{
  display: flex;
  justify-content: center;
  font-size: 28px;
  margin-bottom: 30px;
}
.pop-collection {
  display: grid;
  grid-template-columns: repeat(3, 24%);
  grid-gap: 40px;
  justify-content: space-evenly;
}
.collection{
  border-radius: 5px;
  box-shadow: 2px 2px 45px lightgray, -2px -2px 45px lightgray;
}
.collection img{
  width: 300px;
  height: 256px;
  margin: 30px;
}
.collection h3,h5,p{
  margin-left: 30px;
  margin-bottom: 15px;
}
.collection h3{
  font-size: 28px;
}
.collection h5{
  font-size: 24px;
}
.collection p{
  font-size: 14px;
  color: gray;
}
.fa-star{
  color: orange;
}
.fa-star-half-alt{
  color: orange;
  margin-right: 8px;
}
#see-more{
  text-decoration: none;
  display:flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 30px;
  margin-right: 6%;
  color: rgb(189, 102, 230);
}
.ar{
  color: rgb(189, 102, 230);
}

/*-------------------- 
      Final Section
----------------------*/
.final-section {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 20%);
  justify-items: center;
  justify-content: space-evenly;
}
.contact h3{
  font-size: 24px;
  margin-bottom: 10px;
}
.contact>ul>li{
  list-style-type: none;
  color: gray;
}
.contact a{
  text-decoration: none;
}
.send{
  margin-top: 10px;
  width: 80px;
  height: 30px; 
  border-radius: 15px;
  color: white;
  font-size: 14px;
  background-color: rgb(189, 102, 230);
}
/*---------------------
        footer
---------------------*/
footer{
  background-color: #0A0826;
  margin-top: 80px;
  width: 100%;
  height: 200px;
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer h2{
  font-size: 26px;
}
.footer-p{
  margin: 0;
  margin-bottom: 5px;
}
.fa-github-square{
  padding-right: 10px;
}
.fa-facebook{
  padding-right: 10px;
}
.fa-instagram{
  padding-right: 10px;
}


/* media query */
@media only screen and (max-width: 768px) {
  header {
    display: flex;
    margin-top: 35px;
}
  .bar{
    display: block;
  }
  .page-header{
    position: relative;
    left: 110px;
    top: -12px;
    font-size: 16px;
  }
  .menu{
    visibility:hidden;
  }
  .fa-shopping-cart{
    visibility: visible;
    position: relative;
    left: -80%;
  }
  .menu-container {
    display: flex;
    order: 1;
    flex-wrap: wrap;
    transform: translateX(135px) translateY(-70px);
    }
    .first-sec{
      display: flex;
      flex-direction: column;
      padding-top: 400px;
    }
    .first-sec {
      display: flex;
      flex-direction: column;
      padding-top: 500px;
  }
  .influencer-intro {
    margin-right: 0;
    margin-top: -230px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .main-cam img{
    Width: 257px;
    Height: 257px;
    position: absolute;
    top: 135px;
  }
  .companies {
    display: flex;
    margin-top: 140px;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
  } */

}